/*Common Shared Styles  */
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: large;

}

.orange-color {
    color: orange;
}

.btn-primary {

    background: #FD6E0A;
    border-radius: 5px;
    border: 0;

    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    padding: 15px 35px;




}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}


/* nav tile style */
.nav title {
    position: absolute;
    width: 121px;
    top: 47px;
    color: #181818;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

/* header related style */
.header {
    background: #e4dae3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 35px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .banner-content {
        max-width: 500px;

    }
}

.banner .profile-pic {
    width: 584px;
    height: 676px;
}

.banner-greeting {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 0;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-paragraph {
    border: #181818;

}

/* main section styles   */
.main {

    margin: 50px auto;
    max-width: 1140px;
}

main section {
    margin-top: 130px;
}

/* about section style */
.about {
    margin-top: 130px 0px;
    border-radius: 10px;
    padding: 50px 180px;
    background-color: antiquewhite;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.section-title {

    font-weight: 400;
    font-size: 30px;
    font-display: bold;
    line-height: 30px;
    text-align: center;
    margin-top: 52px;

}

.section-description {
    text-align: center;
    font-size: 18px;
    font-style: normal;
}


/* skills related style */
#what-i-do-description {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 35px;
}

.skills {

    padding: 35px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skill-description {
    color: darkcyan;

}

/* Resume related styles */



.resume-column-title {
    color:darkslategray;
    font-weight: 700;
    font-size: 30px;
}
.resume-container{
    justify-content: space-around;
}
.resume-column-title{
   
}
